.input/
.upstream/
.work/actual-output/
.work/actual-output-v2/
.work/
__pycache__/
.pytest_cache/
# Accidental temporary files created by interrupted tooling
1000000000*
# Local credentials
priconnertlmovie2damagelist-1169a012dcd3.json
